body {
  background-image: url("Stupa.jpg");
}

div {
  width: 650px;
  height: 320px;
  background-image: url("avocado.jpg");
  background-repeat: repeat-y;
  background-color: white;
  border: 1px solid black;
  overflow: scroll;
}

.satu {
  color: blue;
  text-align: right;
  font-weight: bold;
  padding-left: 2px;
}

.dua {
  color: green;
  text-align: left;
  font-weight: bold;
}

.tiga {
  color: red;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 1px
}
